body {
  font-family: sans-serif;
  text-align: center;
  background: rgb(82, 81, 81);
}

.search-container {
  height: 100%;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#searchbox {
  margin-top: 10px;
}

input,
button {
  font-size: 1.5em;
}

.stats,
.no-results {
  color: #fff;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
}

li p,
li h2 {
  padding: 8px;
}

.hit {
  border: 1px solid #000;
  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
}
